.makeBorder{
    border: 1px solid #c4e3f3;
    padding: 5px;
}

.main-nav{
    background-color: #4e7f16;
    color: white;
}
.sec-nav{
    background-color: #4e7f16;
    color: #f4f5ff;

}
#product{
top:56px;
    position:relative;
}
.error{
    background-color: red;
    padding:5px;
    color: whitesmoke;
    display: none;
    position: absolute;
}

.front-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-title p{
    font-size: 18px;
    font-family: 'Oswald', Impact, Charcoal, sans-serif;
}

.front-title h1{
    font-family: 'Oswald', Impact, Charcoal, sans-serif;
}
.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}